extends layout
block content
  .jumbotron
    h1 -  
    p.lead Welcome 
    p
   #myModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
       .modal-header
           button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
           h3#myModalLabel Book your spot
       .modal-body
           form(name='booking', action='/doBook', method='post')
               div.input
                   input(type='text', name='diverName', placeholder="Diver Name")
               div.input
                   input(type='text', name='diverSurname', placeholder="Diver Surname")
               div.input
                   input(type='text', name='qualification', placeholder="Qualification")
               div.input
                   input(type='text', name='email', placeholder="email Address")
               div.input
                   input(type='text', name='phone', placeholder="Cell Number")
               div.actions
                   input(type='submit', value='Book Now')
       .modal-footer
           button.btn(data-dismiss='modal', aria-hidden='true') Close
           button.btn.btn-primary Save changes
  .row
  p Upcoming 
  
  table(style='width:100%')
    thead
      tr
        th(style='width:10%') Dive Date
        th(style='width:10%') Launch Time
        th(style='width:10%') Dive Site
        th(style='width:10%') Depth
        th(style='width:10%') Requirement
        th(style='width:10%') Max Divers
        th(style='width:10%') DM
        th(style='width:10%') Skipper

    tbody
      each item in dives
        tr
          td= item.diveDate
          td= item.diveLaunch
          td= item.diveSpot
          td= ''
          td= ''
          td= item.diveLimit
          td= item.diveDM
          td= item.diveSkipper
          td 
            button.btn(href="#myModal", role="button", data-toggle="modal") Book Now
            //button(onclick="location.href='/book'") Book Now


